body{
    overflow: hidden;
}

h1{
    text-align: center;
    line-height: 20px;
    color: #745400;
    background: #ffffff;
    padding: 10px 5px;
}

.form-for-pictures{
    text-align: center;
}

.container{
    width: 1200px;
    height: calc(100vh - 250px);
    padding: 40px 0;
    margin: 20px auto;
    border: 1px solid #7794e6;
    box-shadow: 5px 5px 5px #7794e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow-y: scroll;
    background: #ffffff;
    position: relative;
}

.container__element{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-text{
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.picture-image{
    width: 300px;
    height: auto;
    cursor: pointer;
}

.picture-image:hover{
    box-shadow: 2px 5px 5px #000000;
    transition: 0.3s;
}

.container__element.open-element{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.picture-image.open-image{
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translate(0, -50%);
    width: 800px;
    height: auto;
    box-shadow: 2px 5px 5px #000000;
    transition: 0.3s;
    cursor: pointer;
}

#wrap{
    position: relative;
    z-index: 2;
}

#effect {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#effect canvas{
    width: 100%!important;
    height: auto!important;
}